template(name='classes')  
    .ui.padded.stackable.grid
        .sixteen.wide.column
            .ui.fluid.four.item.menu
                .item featured
                .item authors
                .item decks
                .item printies
            .ui.header 
                +i name='university'
                |classes
            .ui.header 
                i.user.icon
                |featured authors
            .ui.header 
                i.clone.icon
                |featured decks
            .ui.header 
                |Top Premium
            .ui.header 
                |Top Referring Authors
            .ui.header 
                |Top Free
            .ui.header 
                i.clone.icon
                |featured bundles
            .ui.header featured decks