template(name='library')  
    .ui.fluid.four.item.menu
        .item featured
        .item authors
        .item decks
        .item printies
    .ui.header 
        i.university.icon
        |library
    .ui.header 
        i.user.icon
        |featured authors
    .ui.header 
        i.clone.icon
        |featured decks
    .ui.header 
        |Top Premium
    .ui.header 
        |Top Referring Authors
    .ui.header 
        |Top Free
    .ui.header 
        i.clone.icon
        |featured bundles
    .ui.header featured decks