template(name='store')  
    .ui.header 
        i.shopping.cart.icon
        |store
    .ui.header 
        i.user.icon
        |featured authors
    .ui.header 
        i.clone.icon
        |featured decks
    .ui.header featured decks